# App requirements from setup.py
coreapi>=2.0.9,<2.1
django-bootstrap-breadcrumbs==0.9.1
django-bootstrap-pagination==1.7.1
django-braces==1.14.0
django-chunked-upload==2.0.0
django-compressor==2.4
django-constance[database]==2.8.0
git+https://git@github.com/pramon-apsl/django-geoposition.git
django-rq==2.4.0
django_select2==7.6.1
django-widget-tweaks>=1.4.1,<1.5
pytz==2021.1
serpy==0.3.1

# Additional requirements for development and testing
Django==3.2
flake8==3.5.0
ipdb==0.10.3
pytest==5.3.5
pytest-django==3.8.0
pytest-sugar==0.9.2
tox==2.7.0

# local bima_back
-e .
