{% extends 'bima_back/list.html' %}
{% load i18n bima_back_tags django_bootstrap_breadcrumbs %}

{% block content_title %}{% trans 'Uploads' %}{% endblock %}

{% block breadcrumbs %}
  {% trans "Upload Log" as photo_label %}
  {{ block.super }}
  {% breadcrumb  photo_label "photo_log_list" %}
{% endblock breadcrumbs %}

{% block content_body %}
  <table class="table logTable">
    <tr>
      <th>{% trans 'Asset' %}</th>
      <th>{% trans 'Status' %}</th>
      <th>{% trans 'Started at' %}</th>
      <th>{% trans 'Completed at' %}</th>
    </tr>
  {% for log in logs %}
    <tr>
      <td>{{ log.filename }}</td>
      <td>{{ log.status_display }}</td>
      <td>{{ log.created_at|to_datetime|date:"DATETIME_FORMAT" }}</td>
      <td>{{ log.completed_at|to_datetime|date:"DATETIME_FORMAT"|default:' — '}}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock content_body %}
