{% extends 'bima_back/base.html' %}
{% load i18n static bima_back_tags %}

{% block content %}
  <div class="box box-actions">
    <div class="box-header with-border">
      <h3 class="box-title">{% trans 'Do you really want this cover?' %}</h3>
    </div>
    <div class="box-body actionContent">
      {% if cover_item.image_thumbnail %}
        <img src="{{ cover_item.image_thumbnail }}" />
      {% elif cover_item.file_type == 'video' %}
        <img src="{% static 'bima_back/img/video.jpg' %}"/>
      {% elif cover_item.file_type == 'audio' %}
        <img src="{% static 'bima_back/img/audio.jpg' %}"/>
      {% else %}
        <img src="{% static 'bima_back/img/no-photo.jpg' %}"/>
      {% endif %}
      <p>{% verbose_object_name editable_item %}</p>
    </div>
    <div class="box-footer">
      <form action="." method="post">
        {% csrf_token %}
        <a href="{% go_back_url page_breadcrumbs %}" class="btn btn-info delete"><i class="fa fa-times"></i> {% trans "Cancel" %}</a>
        <button class="btn btn-default" type="submit"><i class="fa fa-check"></i> {% trans 'Confirm' %}</button>
      </form>
    </div>
  </div>
{% endblock content %}


{% block breadcrumbs %}
  {{ block.super }}
  {% include 'bima_back/includes/breadcrumbs.html' %}
{% endblock breadcrumbs %}
