{% load i18n bima_back_tags %}
{% trans "Filter" as default_button_name %}

<div class="box-body {% if profile_form %}{{ profile_form }}{% endif %}">
  <form method="get" enctype="multipart/form-data" role="form"
        action="{{ action|default_if_blank:'.' }}" class="{{ form_class|default_if_blank:'form-inline' }}">
    {{ form.media }}

    {% block filter_errors %}
      {% include 'bima_back/forms/form_errors.html' %}
    {% endblock filter_errors %}

    {% block filter_fields %}
      {% for field in form  %}
        {% include 'bima_back/forms/form_fields.html' %}
      {% endfor %}
    {% endblock filter_fields %}

    {% block filter_buttons %}
      <div class="col-md-12 filter_buttons">
        <button id="reset-filters" type="reset" class="btn btn-info delete filter-btn pull-right post-reset">
          <i class="fa fa-eraser"></i> {% trans 'Clean' %}
        </button>
        <button type="submit" class="btn btn-default pull-right">
          <i class="fa fa-filter"></i> {{ button_name|default_if_blank:default_button_name }}
        </button>
      </div>
    {% endblock filter_buttons %}
  </form>
</div>
