{% extends 'bima_back/forms/form_fields.html' %}

{% block label_form_horizontal %}{% endblock label_form_horizontal %}

{% block input_form_horizontal %}
  <div class="form-horizontal">
    <div class="form-group col-md-12">
      <label class="control-label col-sm-12" for="{{ field.name }}">
        {{ field.label }}{% if field.field.required and mark_required %}*{% endif %}
      </label>
      {% with form_class=form_class|add:" form-horizontal" %}
        {{ block.super }}
      {% endwith %}
      <button type="submit" class="btn btn-default pull-right" name="btn_q">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
{% endblock input_form_horizontal %}
