{% load i18n bima_back_tags %}

<ul class="sidebar-menu">

  <li class="hidden-xs">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">{% trans "Toggle navigation" %}</span>
    </a>
  </li>

  <li class="treeview {% if active_section == 'photo' %}active{% endif %}">
    <a href="{% url 'home' %}">
      <i class="fa fa-search"></i>
      <span>{% trans 'Search' %}</span>
    </a>
  </li>

  {% if request.user.permissions.album.read %}
  <li class="treeview {% if active_section == 'album' %}active{% endif %}">
    <a href="{% url 'album_list' %}">
      <i class="fa fa-folder-open"></i>
      <span>{% trans 'Albums' %}</span>
    </a>
  </li>
  {% endif %}

  {% if request.user.permissions.gallery.read %}
  <li class="treeview {% if active_section == 'gallery' %}active{% endif %}">
    <a href="{% url 'gallery_list' %}">
      <i class="fa fa-picture-o"></i>
      <span>{% trans 'Galleries' %}</span>
    </a>
  </li>
  {% endif %}

  {% if request.user.permissions.damtaxonomy.read %}
  <li class="treeview {% if active_section == 'category' %}active{% endif %}">
    <a href="{% url 'category_list' %}">
      <i class="fa fa-slack"></i>
      <span>{% trans 'Categories' %}</span>
    </a>
  </li>
  {% endif %}

  {% if request.user.permissions.photo.write %}
  <li class="treeview {% if active_section == 'upload' %}active{% endif %}">
    <a href="{% url 'photo_create' %}">
      <i class="fa fa-upload"></i>
      <span>{% trans 'Upload Assets' %}</span>
    </a>
  </li>
  {% endif %}

  {% if request.user.permissions.photo.write %}
  <li class="treeview {% if active_section == 'my_photos' %}active{% endif %}">
    <a href="{% url 'my_photos_list' %}">
      <i class="fa fa-address-card-o"></i>
      <span>{% trans 'My Assets' %}</span>
    </a>
  </li>
  {% endif %}

  {% if request.user.permissions.user.write or request.user.permissions.accesslog.read or request.user.permissions.photo.write %}
  <li class="dropdown visible-xs visible-sm options">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-gear"></i>
      <span>{% trans 'Options' %}</span>
    </a>
    <ul class="dropdown-menu">
      {% if request.user.permissions.user.write %}
        <li><a href="{% url 'user_manage' %}">{% trans 'Manage users' %}</a></li>
      {% endif %}
      {% if request.user.permissions.accesslog.read %}
        <li><a href="{% url 'log_list' %}">{% trans 'Logs list' %}</a></li>
      {% endif %}
      {% if request.user.permissions.photo.write %}
        <li><a href="{% url 'photo_log_list' %}">{% trans 'Uploads' %}</a></li>
      {% endif %}
    </ul>
  </li>
  {% endif %}

  <li class="buttonOptions visible-xs visible-sm">
    <a href="{% url 'logout' %}">
      <i class="fa fa-power-off"></i>
      <span>{% trans 'Sign Off' %}</span>
    </a>
  </li>

</ul>
