{% load i18n static bima_back_tags %}

<div class="col-md-4 col-lg-4 list-item photos">
  <div class="grid">
    <figure class="effect-zoe">
      <div class="items-images">
        {% if photo.upload_status == 1 %}
          <a class="imageContent">
            <img src="{% static 'bima_back/img/loading.gif' %}" class="img-responsive" />
          </a>
        {% else %}
          <a href="{% url 'photo_detail' photo.id %}" class="imageContent">
            <img src="{% photo_thumbnail photo %}" class="img-responsive" />
            {% photo_file_type_icon photo %}
          </a>
        {% endif %}
      </div>
      <figcaption>
        <a{% if photo.upload_status != 1 %} href="{% url 'photo_detail' photo.id %}"{% endif %}>
          <div class="info">
            <h4>{{ photo.description|default:photo.title|default:""|truncatechars:71 }}</h4>
          </div>
        </a>
      </figcaption>
    </figure>
    <div class="icon-links icons-options">
      {% if photo.upload_status == 1 %}
        <span class="uploading">{% trans "Uploading asset..." %}</span>
      {% else %}
        {% if photo.permissions.destroy %}
          <a href="{% url 'photo_delete' photo.id %}" class="pull-right" data-toggle="tooltip" title="{% trans 'Remove' %}">
            <i class="fa fa-trash"></i>
          </a>
        {% endif %}
        <a href="{% url 'photo_detail' photo.id %}" class="imageContent" data-toggle="tooltip" title="{% trans 'View' %}">
          <i class="fa fa-eye"></i>
        </a>
        {% if photo.permissions.update %}
          <a href="{% url 'photo_edit' photo.id %}" class="pull-right" data-toggle="tooltip" title="{% trans 'Edit' %}">
            <i class="fa fa-edit"></i>
          </a>
          <a href="javascript:void(0)" data-toggle="tooltip" class="pull-left photo-cart-add
          {% if photo.id|stringformat:"i" in request.session.cart.keys %}added{% endif %}"
          data-url="{% url 'cart_add' photo.id %}" data-photo="{{ photo.id }}"  title="{% trans 'Multiple edition' %}"
          data-title="{{ photo.title }}" data-thumbnail="{% photo_thumbnail photo %}">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          </a>
        {% endif %}
        {% if instance.permissions.write and base_cover_url and instance.cover != photo.id %}
          <a href="{% url base_cover_url instance.id photo.id %}" class=""
            data-toggle="tooltip" title="{% trans 'Set as cover' %}">
          <i class="fa fa-object-group"></i>
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
